#####################################################################
#   print_start macro
#####################################################################

[gcode_macro PRINT_START]
gcode:
  M118 Starting print
  # This part fetches data from your slicer. Such as bed temp, extruder temp, chamber temp and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("0")|int %}
  {% set material = params.MATERIAL|default("PLA") %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
  {% set mv = printer["gcode_macro MY_VARIABLES"] %}

  # Turns on the LEDs, Homes the printer, sets absolute positioning and updates the Stealthburner leds.
  SET_PIN PIN=Chamber_Light VALUE=1.00
  
  # Prevent filter fan from being turned off mid print
  UPDATE_DELAYED_GCODE ID=VENT_OFF DURATION=0

  M118 Homing
  STATUS_HOMING   # Sets SB-leds to homing-mode
  G28             # Full home (XYZ)
  G90             # Absolute position

  BED_MESH_CLEAR  # Clears old saved bed mesh (if any)

  # Start the bed heating
  M118 Heating bed: {target_bed}c                     # Displays info
  STATUS_BED_HEATING                                  # Sets SB-leds to heating-mode
  G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
  M190 S{target_bed}                                  # Sets the target temp for the bed
  SET_FAN_SPEED FAN=HEPA SPEED=0                      # Turn off exhaust fan whilst heat soaking
  
  # If printing ABS then heatsoak the bed and chamber
  {% if material == "ABS" %}
    {% set heat_soak_time_min = mv.abs_soak_time / 60000 %} # convert to mins
    M118 Heatsoak at {target_chamber}c for {heat_soak_time_min} mins  # Displays info
    M106 S255                                                # Turns on the Part-fan to aid heating
    G4 P{mv.abs_soak_time}  # Waits for the bedtemp to stabilize
    {% if target_Chamber > 20 %}
      M118 Waiting for Chamber to reach {target_chamber}c
      TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}   # Waits for chamber to reach desired temp
    {% endif %}
    SET_FAN_SPEED FAN=HEPA SPEED=0.2                # Provide some negative pressure for the chamber
  {% endif %}

  # If printing PLA then heatsoak for 10 minutes only
  {% if material == "PLA" %}
    {% set heat_soak_time_min = mv.pla_soak_time / 60000 %} # convert to mins
    M118 Soak for {heat_soak_time_min} mins  # Displays info
    G4 P{mv.pla_soak_time}  # Waits for the bedtemp to stabilize
    SET_FAN_SPEED FAN=HEPA SPEED=1  # Turn on the exhaust/filter fan
  {% endif %}

  STATUS_READY
  # Heating nozzle to pre-print temp. This helps with getting a correct Z-home
  M118 Setting hotend to {mv.pre_print_nozzle_temp}c  # Displays info
  STATUS_EXT_HEATING           # Nozzle SB_LEDs to heating mode
  M109 S{mv.pre_print_nozzle_temp}  # Heats the nozzle to 150c
  STATUS_READY
  
  ##  Level gantry and rehome Z
  M118 Performing QGL  # Displays info
  STATUS_LEVELING      # Sets SB-leds to leveling-mode
  quad_gantry_level    # Levels the buildplate via QGL
  G28 Z                # Homes Z again after QGL

  ##  Clean nozzle and then Klicky auto-z
  CLEAN_NOZZLE ZZ=1         # Clean the nozzle with zig-zag pattern
  CALIBRATE_Z               # Calibrates Z-offset with klicky
  M118 Z-offset set         # Displays info

  ##  Create a bed mesh
  M118 Performing bed mesh       # Displays info
  STATUS_MESHING                 # Sets SB-leds to bed mesh-mode
  bed_mesh_calibrate ADAPTIVE=1  # Starts bed mesh

  # Heats up the nozzle up to target via data from slicer
  M118 Setting hotend to {target_extruder}c  # Displays info
  STATUS_EXT_HEATING                         # Sets SB-leds to heating-mode
  SMART_PARK                                 # Move toolhead close to print area
  M107                                       # Turns off partcooling fan
  M109 S{target_extruder}                    # Heats the nozzle to printing temp

  # Load skew calibration
  SKEW_PROFILE LOAD=CaliFlower
  
  # Gets ready to print by doing a purge line and updating the SB-leds
  M118 Now printing                          # Displays info
  STATUS_PRINTING                            # Sets SB-leds to printing-mode
  LINE_PURGE                                 # Prime nozzle
  G90                                        # Absolute position


#####################################################################
#   print_end macro
#####################################################################

[gcode_macro PRINT_END]

gcode:
  M400 # wait for buffer to clear
  # safe anti-stringing move coords
  {% set th = printer.toolhead %}
  {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
  {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
  {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
  {% set mv = printer["gcode_macro MY_VARIABLES"] %}

  # clear skew calibration
  SET_SKEW CLEAR=1
  SAVE_GCODE_STATE NAME=STATE_PRINT_END

  M118 Print done
  M118 Exhaust fan will run for 5 mins and then stop once bed, extruder and chamber temps <= 40c
  M400                                                                # Wait for buffer to clear
  G92 E0                                                              # Zero the extruder
  {% if printer.extruder.can_extrude %}
    G1 E-{mv.retraction_amount} F1800  # Retract filament 30mm/s
  {% endif %}

  STATUS_COOLING
  TURN_OFF_HEATERS
  SET_FAN_SPEED FAN=HEPA SPEED=1    # Turn on the exhaust fan fully

  G90                                                         # Absolute positioning
  G0 X{x_safe} Y{y_safe} Z{z_safe} F20000                     # Move nozzle to remove stringing
  G0 X{mv.bucket_x} Y{printer["gcode_macro MY_VARIABLES"].bucket_y} Z{z_safe} F20000  # Park nozzle over bucket
  M107                                                        # Turn off partcooling fan

  # Run fans for 5 mins then check to turn off fans when temps fall to 40c
  UPDATE_DELAYED_GCODE ID=_VENT_OFF DURATION={mv.fan_run_time}

  BED_MESH_CLEAR
  
  # Turns off the LEDs
  SET_PIN PIN=Chamber_Light VALUE=0.00

  RESTORE_GCODE_STATE NAME=STATE_PRINT_END


#####################################################################
#   Allows for the cooling down of heated elements before turning off
# the exhaust fan.  Ensures the chamber is properly vented.
#####################################################################

[delayed_gcode _VENT_OFF]
initial_duration: 0
gcode:
  {% set mv = printer["gcode_macro MY_VARIABLES"] %}
  {% set bed_temp = printer.heater_bed.temperature %}
  {% set bed_temp_low = mv.bed_temp_low %}
  {% set extruder_temp = printer.extruder.temperature %}
  {% set ext_temp_low = mv.ext_temp_low %}
  {% set chamber_temp = printer["temperature_sensor chamber"].temperature %}
  {% set chamber_temp_low = mv.chamber_temp_low %}

  {% if bed_temp <= bed_temp_low and extruder_temp <= ext_temp_low and chamber_temp <= chamber_temp_low %}  # Extruder temp and 
    SET_FAN_SPEED FAN=HEPA SPEED=0
    M118 Exhaust fan off
    STATUS_READY
  {% else %}
    M118 Waiting on temperature drop to stop exhaust fan
    UPDATE_DELAYED_GCODE ID=VENT_OFF DURATION={mv.fan_recheck_time}  # check again in 1 minute
  {% endif %}

